.fond-rougenoir {
  background: linear-gradient(180deg, #e93f56 1.31%, #050e0b 71.93%);
}

.vertical-scroll {
  font-family: Arial, sans-serif;
}

.intro-section,
.outro-section {
  height: 100vh; /* Occupe toute la hauteur de la fenêtre */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.scroll-container {
  display: inline-flex; /* Alignement horizontal pour une rangée continue */
  height: 100vh;
  position: relative; /* Occupe toute la hauteur de la fenêtre pour rester cohérent avec .intro-section et .outre-section */
}

.horizontal-scroll {
  height: 100vh; /* Fixe la hauteur à la hauteur de la fenêtre comme les autres */
  overflow: hidden; /* Pas de défilement vertical à l'interiéur de cette class */
}

.box {
  min-width: 300svw; /* Pour que la box soit large et qu'il y ai de la surface pour le défilement horizontal au scroll */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: 20px;
}

#carousel1 {
  position: absolute;
  top: 50px; /* Ajuste la distance par rapport au haut du conteneur */
  left: 20px;
  z-index: 7;
}

#carousel2 {
  position: absolute;
  top: 380px; /* Ajuste la distance par rapport au haut du conteneur */
  left: 470px;
  z-index: 6;
}

#carousel3 {
  position: absolute;
  top: 0px; /* Ajuste la distance par rapport au haut du conteneur */
  left: 950px;
  z-index: 5;
}

#carousel4 {
  position: absolute;
  top: 440px; /* Ajuste la distance par rapport au haut du conteneur */
  left: 1250px;
  z-index: 4;
}

#carousel5 {
  position: absolute;
  top: 50px; /* Ajuste la distance par rapport au haut du conteneur */
  left: 1680px;
  z-index: 3;
}

#carousel6 {
  position: absolute;
  top: 0px; /* Ajuste la distance par rapport au haut du conteneur */
  left: 2180px;
  z-index: 2;
}

#carousel7 {
  position: absolute;
  top: 50px; /* Ajuste la distance par rapport au haut du conteneur */
  left: 2500px;
  z-index: 1;
}

.h2-briser {
  color: var(--white, #fff);
  text-align: center;
  padding: 170px 150px 150px 80px;

  /* bokor 128 */
  font-family: Bokor;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 153.6px */
  text-transform: uppercase;
}

.h2-fini {
  color: var(--rouge-rose, #e93f56);
  text-align: center;

  /* bokor 128 */
  font-family: Bokor;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 153.6px */
  text-transform: uppercase;
  padding: 170px 150px 150px 80px;
}

.background-rougenoir {
  width: 100%;
  height: auto;
  display: block;
}
