footer {
  background-color: black; /* Couleur de fond */
  color: #fff; /* Couleur de texte */
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.footer-logo {
  height: 30px; /* Ajuste la taille du logo */
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem; /* Ajuste la taille des liens */
}

.footer-link:hover {
  text-decoration: underline;
}

.social-icon {
  width: 24px; /* Taille des icônes sociales */
  height: 24px;
}

.social-icon:hover {
  opacity: 0.7; /* Légère transparence au survol */
}

.container-py-4 {
  padding: 50px;
}
