header {
  position: relative; /* Assure que les éléments absolument positionnés soient relatifs au header */
  text-align: center;
  color: #ffffff;
}

.header-background {
  width: 100%;
  height: auto;
  display: block;
}

.header-logo {
  width: 100%;
  height: auto;
  display: block;
}

.header-content {
  position: absolute;
  bottom: 58px; /* Place le contenu vers le bas du header */
  left: 201px; /* Aligne le contenu à gauche */
  text-align: left; /* Texte aligné à gauche */
}

.furieuse-logo {
  width: 300px; /* Ajuste la taille selon tes besoins */
  height: auto;
  fill: #ffffff; /* Assure-toi que le texte du SVG est bien en blanc */
  margin-bottom: 10px; /* Un léger espacement en bas si nécessaire */
}

h1 {
  font-family: "Bokor", system-ui;
  font-size: 3rem;
  text-transform: uppercase;
}

.cta-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ff4747;
  color: #ffffff;
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  z-index: 2;
  font-family: "Bokor", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cta-button:hover {
  background-color: #ffffff; /* Couleur de fond blanche */
  color: #ff4747; /* Couleur du texte rouge */
}

.subtitle {
  margin-top: 10px;
  font-size: 1rem;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
