.vertical-scroll {
  font-family: Arial, sans-serif;
}

.intro-section,
.outro-section {
  height: 100vh; /* Occupe toute la hauteur de la fenêtre */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  display: inline-flex; /* Alignement horizontal pour une rangée continue */
  height: 100vh; /* Occupe toute la hauteur de la fenêtre pour rester cohérent avec .intro-section et .outre-section */
}

.horizontal-scroll {
  height: 100vh; /* Fixe la hauteur à la hauteur de la fenêtre comme les autres */
  overflow: hidden; /* Pas de défilement vertical à l'interiéur de cette class */
}

.box {
  min-width: 300svw; /* Pour que la box soit large et qu'il y ai de la surface pour le défilement horizontal au scroll */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: pink;
  border: 2px solid #333;
  margin: 20px;
}

h1 {
  text-align: center;
}

.background-rougenoir {
  width: 100%;
  height: auto;
  display: block;
}
